body {
  font-size: 15px;
}

button {
  background: #ffc600;
  border: 0;
  padding: 10px 20px;
}

img {
  max-width: 100%;
}

.top {
  display: grid;
  grid-template-areas: 
    "hero hero cta1"
    "hero hero cta2";
  grid-gap: 20px;
}

.hero {
  grid-area: hero;
  min-height: 400px;
  background: url(images/taco.jpg);
  background-size: cover;
  background-position: bottom right;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.hero > * {
  background: var(--yellow);
}

.cta {
  background: var(--yellow);
  display: grid;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.cta1 {
  grid-area: cta1;
}

.cta2 {
  grid-area: cta2;
}

.price {
  font-size: 60px;
  font-weight: 300;
}
